{% extends 'main/base.html' %}
{% load static %}

{% block title%}О кафе{% endblock %}
{% block tab-name %}о кафе{% endblock %}
{% block content%}
<p> Кафе "Ласточка" - уютное заведение в КРЦ "Полисинема", где каждый посетитель может насладиться
    атмосферой теплого приюта и отдохнуть после насыщенного дня. Мы предлагаем широкий выбор свежих и вкусных блюд,
    приготовленных с любовью и заботой, а также разнообразные напитки, от классического кофе до освежающих коктейлей.
    Наш дружелюбный персонал всегда готов предложить вам лучшее обслуживание и сделать ваше посещение незабываемым.
    Приходите в кафе "Ласточка" и насладитесь приятным времяпровождением в уютной обстановке.</p>
<img src="{% static 'img/cafe.jpg' %}" alt="cafe" class="subimg">
{% endblock %}