{% extends 'main/base.html' %}

{% block title%}
{{ title }}
{% endblock %}
{% block tab-name %}Главная{% endblock %}
{% block content%}
<h1>Меню</h1>
{% if positions %}
<div class="filter">
            <form action="" class="filter__input">
                <label for="">По названию</label>
                <input type="text" value="">
                <label for="">По типу</label>
                <input type="text" value="">
                <label for="">По цене:</label>
                <input type="text" value="">
                <button>Фильтровать</button>
            </form>
        </div>
<table>
    <tr>
        <th>Название</th>
        <th>Тип</th>
        <th>Граммы</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Действия</th>
    </tr>
    {% for el in positions %}
    <tr>
        <td>{{el.name}}</td>
        <td>{{el.type}}</td>
        <td>{{el.gramm}}</td>
        <td>{{el.sostav}}</td>
        <td>{{el.price}} р.</td>
        <td>
            <div class="produtcs__btns">
                <a href="{% url 'delete' el.id %}">
                    <button class="btn btn-danger">Удалить</button>
                </a>
                <a href="{% url 'update' el.id %}">
                    <button class="btn btn-success">Изменить</button>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>У нас нет позиций в меню</p>
{%endif%}
{% endblock %}